header{
   margin-top: 40px;
    height: 80px;
}
nav ul li a{
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: black;
}
ul,ol{
    list-style: none;
}
ul.banner-item .liActive{
    display: block;

}
ul.banner-item li{
    display: none;
}
ul.banner-item li.liActive{
    display: block;
}
div.jumbotron{
    padding-bottom:0;
}
ol#dot li{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    float: left;
    margin: 5px;
    cursor: pointer;
    background: gray;
    opacity: 0.6;
}
ol#dot li.olActive{
    background: white;
}
div#slideshow{
    position: relative;
}
ol{
    position: absolute;
    bottom: 0;
    right: 70px;
}
div.jumbotron{
    background: url(photo.jpg) no-repeat center center;
    background-size: cover;
}
div.jumbotron h2{
    color: white;
    font-weight: bold;
    font-size: 34px;
    margin-top: 110px;
}
div.jumbotron span{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
}
div.tab{
    background: #555555;
}
div.tab div.tab-title{
    cursor: pointer;
}
div.tab div.spotlight{
    background: dodgerblue;
}
div#tab-content{
    margin: 25px auto;
}
div.tab div.tab-title h4{
    color: white;
}
div#tab-content div.row{
    display: none;
}
div#tab-content div.row-active{
    display: block;
}
div#tab-content p{
    line-height: 1.8em;
    color: gray;
}
div#tab-content div span{
    padding-right: 10px;
}